

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

a,a:visited {
  color: black !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  color: black;
  background-color: white;
  letter-spacing:  1.3 !important;
	margin: 0 !important;
	font-family: sans-serif;
  font-weight: 300;
  font-size: 14 !important;
}

.arch {
  /*padding-bottom: 10vh;*/
}

body {
	margin: 0;
	width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.t {
  margin-top: 0;
  position: relative;
  left: 5px;
}

.there {
  background-color: white !important;
}

.moverS {
  font-family: 'Poppins', sans-serif;
  z-index: 996 !important;
  font-size: 10px !important;
  position: fixed;
  /*background-color: rgba(0,0,0,.1);*/
  top: 0;
  color: black;
  background-color: transparent;
  width: 15vw;
  height: 100vh;
  left: 85vw;
  cursor: pointer;
-webkit-transition: left .4s ease-in-out;
  -moz-transition: left .4s ease-in-out;
  -o-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}

.moverS > .title {
  font-family: 'BioRhyme Expanded', serif;
  top: 12vh;
  padding-left: .75vw !important;
  padding: .75vw !important;
  padding-top: .625vh !important;
  padding-bottom: .625vh !important;
  color: white;
  /*margin-right: 100vw;*/
  position: relative;
  display: inline-block !important;
  cursor: pointer !important;
  margin-bottom: .25vh;
  margin-left: .25vw;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.moverS > .title:hover {
  background-color: white !important;
}

.background {
  color: black !important;
  background-color: white;
}

.h {
  font-size: 13px;
  /*font-weight: 600;*/
  width: 94%;
  position: absolute;
  top: 1vh;
  left: .75vw;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.sticky {
  left: 85vw;
  width: 15vw;
  position: fixed;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.row {
  /* background-color: red; */
  top: 0;
  left: 0;
  position: relative;
  width: 85vw;
  height: auto;
  min-height: 100vh;
  padding-bottom: 7vh;
  margin-bottom: 20vh !important;
  margin-right: 5vw;
  float: left;
  padding-bottom: 30vh;
}

.row:first {
  margin-top: 0 !important;
  color: white !important;
}

.over {
  left: .75vw !important;
  color: black !important;
}

.overs {
  color: black !important;
  padding-left: .75vw !important;
  padding-top: .625vh !important;
  padding-bottom: .625vh !important;
  left: 0 !important;
}

/*.row:last-child {
  padding-bottom: 10vh;
}*/

.row:last-child > .title {
  display:none;
}

.images>p {
  font-size: 25px !important;
 
  text-align: left;
  left: 15vw;
  width: 65vw;
  /*margin-bottom: 12vh;*/
  position: relative;
  float: left;
  z-index: 999;
}

.row img {
  display: inline-block;
  /*background-color: rgba(255,255,255,.25);*/
  margin-top: 1vh;
  margin-left: 10vw;
  cursor: pointer;
  position: relative;
  float: left;
  width: 85vw;
  height: auto;
  left: -25vw !important;
  margin-bottom: -2vh;
  z-index: -99;
}

img:hover {

}

.row > .title {
  font-family: 'BioRhyme Expanded', serif;
  padding: .5%;
  width: auto;
  border-radius: 5px;
  margin: 0;
  position: relative;
  left: 1vw;
  margin-bottom: 3vh;
  font-size: 40 !important;
  z-index: 999 !important;
}

/*
.year {
  position: absolute;
  margin-left: 2vw;
  top: 0;
  font-size: 20 !important;
   top: 50%;
  margin-bottom: 1vh;
  transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%); 
}*/

.images {
  left: 0vw;
  margin-top: 4vh;
  width: 60vw;
  height: auto;
  position: relative;
  font-size: 32;
}



/* .images > section:first-child > .block-img > img {
  width: 40vw !important;
  height: auto;
  margin-right: 100vw;
} */

.latest {
  z-index: -997;
  position: absolute !important;
  bottom: 0;
  left: 50% !important;
  padding: 0;
  margin: 0 !important;
  width: 100vw;
  height: auto;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%); */
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

@media screen and (max-width: 736px){

 /* html {
    font-size: 10 !important;
  }*/

  .moverS > .title,.row > .title {
    left: 1vw;
  }

  .row > .title {
    font-size: 14px !important;
  }

  .moverS > .title {
    top: 14.25vh;
  }

  .images > p {
    font-size: 25px !important;
    left: 20px;
  }

  .moverS {
    z-index: 999 !important;
    width: 25vw;
    left: 75vw;
    font-size: 8px !important;
  }

  .h {
    color: black;
    margin: 0;
    top: 12px;
    left: 0;
    font-size: 10px;
  }

  .latest {
    display: none;
  }

  .moverS > .title {
    padding: 1%;
    width: auto;
    left: 0vw;
  }

  img {
    left: 45vw !important;
    width: 84vw !important;
  }

  .row {
    margin: 0;
    top: 5px;
    min-height: 100vh;
  }
  


}
