

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

a,a:visited {
  color: black !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  color: black;
  background-color: white;
  letter-spacing:  1.3 !important;
	margin: 0 !important;
	font-family: sans-serif;
  font-weight: 300;
  font-size: 14 !important;
}

.arch {
  /*padding-bottom: 10vh;*/
}

body {
	margin: 0;
	width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.t {
  margin-top: 0;
  position: relative;
  left: 5px;
}

.there {
  background-color: white !important;
}

.moverS {
  font-family: sans-serif;
  font-size: 18px !important;
  position: fixed;
  /*background-color: rgba(0,0,0,.1);*/
  top: 0;
  color: black;
  background-color: white;
  width: 100vw;
  height: 85vh;
  z-index: 999 !important;
  left: 0;
  padding-top: 17vh;
  cursor: pointer;
  -webkit-column-count: 10; /* Chrome, Safari, Opera */
  -moz-column-count: 10; /* Firefox */
  column-count: 10;
  -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
  -moz-column-gap: 5px; /* Firefox */
  column-gap: 5px;
  -webkit-column-width: 15vw; /* Chrome, Safari, Opera */
  -moz-column-width: 15vw; /* Firefox */
  column-width: 15vw;
-webkit-transition: left .75s ;
  -moz-transition: left .75s ;
  -o-transition: left .75s ;
  transition: left .75s ;
  column-fill: auto;
}

.blur {
  -webkit-filter: blur(20px); /* Safari 6.0 - 9.0 */
  filter: blur(20px);
 /* -webkit-transition: all .1s ;
  -moz-transition: all .1s ;
  -o-transition: all .1s ;
  transition: all .1s ;*/
}

.moverS > .title {
  font-family: 'Poppins', sans-serif;
  left: .1vw;
  padding-top: .625vh !important;
  padding-bottom: .625vh !important;
  /*color: white;*/
  /*margin-right: 100vw;*/
  position: relative;
  cursor: pointer !important;
  margin-bottom: .25vh;
  margin-left: .25vw;
  max-width: 13.1vw;
  z-index: 999 !important;
  /*-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;*/
}

.moverS > .title:hover {
  border-color: black !important;
}

.background {
  color: black !important;
  background-color: white;
}

.h {
  font-size: 13px;
  /*font-weight: 600;*/
  position: absolute;
  top: 1vh;
  /*left: 3vw;*/
  left: 5px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.h:hover {
  left: .5vw !important;

}


.sticky {
  top: 0;
  left: 85vw;
  width: 15vw;
  position: fixed;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 1vw; /* Chrome, Safari, Opera */
  -moz-column-gap: 1vw; /* Firefox */
  column-gap: 1vw;
  -webkit-column-width: 15vw; /* Chrome, Safari, Opera */
  -moz-column-width: 15vw; /* Firefox */
  column-width: 15vw;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.row {
  /* background-color: red; */
  top: 0;
  left: 0;
  position: relative;
  width: 85vw;
  height: auto;
  min-height: 100vh;
  padding-bottom: 7vh;
  margin-bottom: 20vh !important;
  margin-right: 5vw;
  float: left;
  padding-bottom: 30vh;
}

.row:first {
  margin-top: 0 !important;
  color: white !important;
}

.row :first > .title, .row :first > p {
  z-index: 999 !important;
}

/*.row:last-child {
  padding-bottom: 10vh;
}*/

.row:last-child > .title {
  display:none;
}

.images>p {
  font-size: 25px !important;
 
  text-align: left;
  left: 15vw;
  width: 65vw;
  top: -.85vh !important;
  /*margin-bottom: 12vh;*/
  position: relative;
  float: left;
  z-index: -1;
}

.row img {
  display: inline-block;
  /*background-color: rgba(255,255,255,.25);*/
  margin-top: 1vh;
  margin-left: 10vw;
  cursor: pointer;
  position: relative;
  float: left;
  width: 85vw;
  height: auto;
  left: -25vw !important;
  margin-bottom: -2vh;
}

img:hover {

}

.row > .title {
  border-bottom: none !important;
  z-index: -1 !important;
  font-family: 'Poppins', sans-serif;
  padding: .5%;
  max-width: 84.5vw;
  margin: 0;
  position: relative;
  left: .25vw;
  margin-bottom: 3vh;
  font-size: 20 !important;
  background-color: white !important;
}

/*
.year {
  position: absolute;
  margin-left: 2vw;
  top: 0;
  font-size: 20 !important;
   top: 50%;
  margin-bottom: 1vh;
  transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%); 
}*/

.images {
  left: 0vw;
  margin-top: 4vh;
  width: 60vw;
  height: auto;
  position: relative;
  font-size: 32;
}



/* .images > section:first-child > .block-img > img {
  width: 40vw !important;
  height: auto;
  margin-right: 100vw;
} */

.latest {
  z-index: -1;
  position: absolute !important;
  bottom: 0;
  left: 50% !important;
  padding: 0;
  margin: 0 !important;
  width: 100vw;
  height: auto;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%); */
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

@media screen and (max-width: 736px){

 /* html {
    font-size: 10 !important;
  }*/

  .moverS > .title,.row > .title {
    left: 1vw;
  }

  .row > .title {
    font-size: 14px !important;
  }

  .moverS > .title {
    top: 14.25vh;
  }

  .images > p {
    font-size: 25px !important;
    left: 20px;
  }

  .moverS {
    z-index: 999 !important;
    width: 25vw;
    left: 75vw;
    font-size: 8px !important;
  }

  .h {
    color: black;
    margin: 0;
    top: 12px;
    margin-left: .75vw;
    left: 0;
    font-size: 10px;
  }

  .latest {
    display: none;
  }

  .moverS > .title {
    padding: 1%;
    width: auto;
    left: 0vw;
  }

  img {
    position: relative;
    padding-left: 9.5vw;
    width: 75vw !important;
  }

  .row {
    margin: 0;
    top: 5px;
    min-height: 100vh;
  }
  


}
